@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans:wght@400;500;600;700;900&family=Source+Code+Pro:wght@400;600&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

:-webkit-any(article, aside, nav, section) *,
:-webkit-any(article, aside, nav, section) *::after,
:-webkit-any(article, aside, nav, section) *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 64px;
}
:-webkit-any(article, aside, nav, section) h2 {
  font-size: 48px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans";
  background-color: #090909;
  background-repeat: no-repeat;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font: inherit;
}
input:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  color: #6f6f6f;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

p {
  font-weight: 500;
  color: #6f6f6f;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1280px) {
  main:not(.user-page) :-webkit-any(article, aside, nav, section) h1,
  main:not(.user-page) :-webkit-any(article, aside, nav, section) h2 {
    font-size: 32px;
  }
  main:not(.user-page) h1,
  main:not(.user-page) h2 {
    font-size: 32px;
  }
  main:not(.user-page) h3 {
    font-size: 24px;
  }
  main:not(.user-page) h4,
  main:not(.user-page) h5 {
    font-size: 16px;
    font-weight: 400;
  }
}
.header {
  padding: 20px 16px;
  width: 90vw;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header__title {
  font-weight: 900;
  font-size: 20px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
.header__burger {
  display: none;
}
.header__nav ul {
  border: 1px solid #3d3d3d;
  border-radius: 16px;
  padding: 8px 16px;
  min-width: 579px;
}
.header__nav ul li a {
  color: #6f6f6f;
  font-weight: 500;
}
.header__nav ul li a:hover {
  color: #fff;
}
.header__nav ul li a.active {
  color: #fff;
}

@media (max-width: 1078px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 12.5px 26px;
    width: 100vw;
    left: 0;
  }
  .header__burger {
    display: block;
    width: 24px;
    height: 21px;
    position: relative;
    cursor: pointer;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 20px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    min-width: 300px;
    height: 100%;
    background-color: #090909;
    padding: 70px 0 0 48px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 48px;
  }
  .header__nav.active {
    right: 0;
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 24px;
    border: none;
    min-width: 100%;
    padding: 0;
  }
  .header__authentication-btns {
    position: fixed;
    right: -100%;
    top: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 12px;
    -ms-flex-item-align: start;
        align-self: start;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    min-width: 92px;
  }
  .header__authentication-btns.active {
    right: 160px;
  }
}
.btn {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #1b1b1b;
  border: 1px solid #3d3d3d;
  cursor: pointer;
}
.btn--blue {
  background-color: #2453cc;
  border: none;
}
.btn--header {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
}
.btn--full-width {
  width: 100%;
}
.btn:hover {
  background-color: #1c419f;
}

.hero {
  text-align: center;
  padding-top: 60px;
}
.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 24px;
}
.hero__top h1 {
  margin-top: 36px;
}
.hero__top h4 {
  color: #6f6f6f;
}
.hero__top h4::after {
  content: "";
  display: block;
  margin: 24px auto 0 auto;
  width: 800px;
  border-bottom: 2px #3d3d3d dashed;
}
.hero__title {
  margin-bottom: 8px;
}
.hero__title span {
  color: #2453cc;
}
.hero__descr {
  max-width: 636px;
  margin: 0 auto 48px auto;
}
.hero__descr--bigger-margin {
  margin-bottom: 60px;
}
.hero__authentication-btns a:first-child {
  margin-right: 24px;
}
.hero__discover {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #6f6f6f;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 42px;
}
.hero__discover img {
  margin-right: 12px;
}
.hero__illustration {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 346px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__illustration-item {
  font-size: 1rem;
  padding: 1.5em;
  white-space: nowrap;
}
.hero__illustration-item:first-child {
  border-top-left-radius: 12px;
}
.hero__illustration-item:nth-child(3) {
  border-top-right-radius: 12px;
}
.hero__illustration-item-logo {
  width: 2.75em;
  height: 2.75em;
}
.hero__illustration-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  margin-bottom: 2em;
}
.hero__illustration-item-info {
  margin-left: 1em;
}
.hero__illustration-item-info p {
  text-align: start;
  font-size: 1em;
  color: #a5adcf;
}
.hero__illustration-item-info span {
  font-size: 1.5625em;
}
.hero__illustration-item-crypto-symbol {
  -ms-flex-item-align: start;
      align-self: start;
  font-size: 1em;
  font-weight: 400;
  color: #5d6588;
}
.hero__illustration-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 1.125em;
     -moz-column-gap: 1.125em;
          column-gap: 1.125em;
}
.hero__illustration-item-bottom img {
  width: 11.125em;
  height: 3em;
}
.hero__illustration-item-bottom p {
  font-size: 1em;
  font-weight: 800;
  color: #42d559;
}
.hero__illustration-underline {
  content: "";
  border: 1px #3d3d3d solid;
  position: relative;
  top: -1px;
}

@media (max-width: 1280px) {
  .hero__illustration {
    grid-template-columns: repeat(2, minmax(0, 346px));
  }
  .hero__illustration-item:nth-child(2) {
    border-top-right-radius: 12px;
  }
  .hero__illustration-item:nth-child(3) {
    border-top-right-radius: 0;
  }
  .hero__illustration-item:nth-child(5) {
    border-bottom-left-radius: 12px;
  }
  .hero__illustration-item:nth-child(6) {
    border-bottom-right-radius: 12px;
  }
  .hero__illustration-underline {
    display: none;
  }
}
@media (max-width: 760px) {
  .hero__illustration-item {
    font-size: 0.7rem;
  }
  .hero h4::after {
    display: none;
  }
}
@media (max-width: 550px) {
  .hero__illustration-item {
    font-size: 0.5rem;
  }
}
@media (max-width: 400px) {
  .hero__illustration-item {
    font-size: 0.42rem;
  }
}
.plans {
  padding-top: 80px;
}
.plans__text {
  text-align: center;
  margin: 0 auto 46px auto;
}
.plans__title {
  margin-bottom: 24px;
}

.plans-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.plans-list__item {
  padding: 24px;
  text-align: start;
  max-width: 400px;
}
.plans-list__item-price {
  color: #2453cc;
  font-weight: 700;
  margin-bottom: 12px;
}
.plans-list__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  margin-bottom: 12px;
}
.plans-list__item-info p {
  font-weight: 400;
  font-size: 14px;
}
.plans-list__item-info span {
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .plans-list {
    grid-template-columns: 1fr 1fr;
    gap: 24px 180px;
  }
}
@media (max-width: 960px) {
  .plans__text {
    width: 100%;
  }
  .plans-list {
    grid-template-columns: minmax(340px, 400px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.payment-coins {
  padding: 46px 0;
  text-align: center;
}
.payment-coins__title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 46px;
  font-weight: 700;
}
.payment-coins__list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.payment-coins__list-item {
  padding: 8px 16px;
}
.payment-coins__list-item h5 {
  color: #fff;
}

@media (max-width: 1280px) {
  .payment-coins__list {
    grid-template-columns: repeat(3, auto);
    row-gap: 24px;
  }
  .payment-coins__title {
    font-size: 32px;
  }
}
@media (max-width: 720px) {
  .payment-coins__list {
    grid-template-columns: repeat(2, auto);
    row-gap: 24px;
  }
  .payment-coins__list img {
    width: 36px;
    height: 36px;
  }
}
.statistics {
  text-align: center;
}
.statistics__title {
  margin-bottom: 46px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.statistics__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.statistics__list-item {
  width: minmax(172px, 220px);
  padding: 16px 36px;
}
.statistics__list-item h3 {
  font-weight: 800;
  margin-bottom: 8px;
}
.statistics__list-item p {
  font-weight: 400;
}
.statistics__list-dashed-line {
  content: "";
  border: 2px dashed #3d3d3d;
  position: relative;
  top: -50px;
  z-index: -1;
}

@media (max-width: 1280px) {
  .statistics__title {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .statistics__list {
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px 14px;
  }
  .statistics__list-item {
    padding: 16px;
  }
  .statistics__list-dashed-line {
    display: none;
  }
}
.features {
  padding: 80px 0;
  -webkit-column-gap: 73px;
     -moz-column-gap: 73px;
          column-gap: 73px;
}
.features__illustration {
  position: relative;
  font-size: 1rem;
  min-width: 35.375em;
  height: 33em;
}
.features__illustration-background, .features__illustration-trader, .features__illustration-crypto {
  position: absolute;
}
.features__illustration-sm-ellipse {
  left: 6.0625em;
  width: 24.0625em;
  height: 24.0625em;
}
.features__illustration-lg-ellipse {
  left: 1.5625em;
  top: 2.9375em;
  width: 29em;
  height: 29em;
}
.features__illustration-globus {
  left: 3.0625em;
  top: 1.1875em;
  width: 31.8125em;
  height: 31.8125em;
}
.features__illustration-crypto-tether, .features__illustration-crypto-ripple, .features__illustration-crypto-dollar {
  width: 2.6875em;
  height: 2.6875em;
}
.features__illustration-crypto-bitcoin {
  left: 27em;
  top: 7em;
  width: 3.75em;
  height: 3.75em;
}
.features__illustration-crypto-tether {
  left: 22.375em;
  top: 27.1875em;
}
.features__illustration-crypto-ripple {
  left: 20.3125em;
  top: 1.875em;
}
.features__illustration-crypto-dollar {
  left: 2.75em;
  top: 7.6875em;
}
.features__illustration-crypto-ethereum {
  top: 23em;
  width: 5.125em;
  height: 5.125em;
}
.features__illustration-trader {
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__illustration-trader-countries {
  top: 2.625em;
  left: 4.8125em;
}
.features__illustration-trader-countries img {
  width: 1.875em;
  height: 1.875em;
}
.features__illustration-trader-location {
  min-width: 13.1875em;
  top: 14.3125em;
  left: 23.5em;
}
.features__illustration-trader-location img {
  width: 2em;
  height: 2em;
}
.features__illustration-trader-certification {
  top: 19.1875em;
  left: 2.25em;
}
.features__illustration-trader-certification img {
  width: 3.5625em;
  height: 3.875em;
}
.features__illustration-trader img {
  margin-right: 1em;
}
.features__illustration-trader span {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0.25em;
  color: #2453cc;
}
.features__illustration-trader p {
  font-size: 1.125em;
}
.features__content-text {
  margin-bottom: 46px;
}
.features__content-title {
  margin-bottom: 24px;
}
.features__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.features__content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.features__content-list-item img {
  padding: 34px;
}
.features__content-list-item h4 {
  margin-bottom: 8px;
}
.features__content-list-item p {
  font-size: 16px;
}

@media (max-width: 1280px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }
  .features__content-text {
    text-align: center;
  }
  .features__content-list-item {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .features__content-list-item img {
    padding: 17px;
  }
  .features__content h4 {
    font-size: 24px;
  }
}
@media (max-width: 720px) {
  .features__illustration {
    font-size: 0.6rem;
  }
}
.calculator {
  padding: 80px 0;
}
.calculator__input-item {
  padding: 16px 20px;
  width: 100%;
}
.calculator__input-item--smaller-padding {
  padding: 9.5px 20px;
}
.calculator__text {
  text-align: center;
  margin: 0 auto 46px auto;
  width: 45vw;
}
.calculator__title {
  margin-bottom: 24px;
}
.calculator__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator__info img {
  max-width: 40px;
  max-height: 40px;
}
.calculator__info label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
}
.calculator__info li {
  cursor: pointer;
  margin-bottom: 5px;
}
.calculator__info li:hover {
  background-color: #1c419f;
}
.calculator__info p {
  color: #fff;
  font-weight: 600;
}
.calculator__info input {
  font-weight: 600;
}
.calculator__info-power, .calculator__info-profit {
  border-radius: 12px;
  width: 406px;
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.calculator__info-power-title, .calculator__info-profit-title {
  font-size: 20px;
  text-align: center;
}
.calculator__info-power-content, .calculator__info-profit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.calculator__info-power-content-body, .calculator__info-profit-content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.calculator__info-power-content-bottom, .calculator__info-profit-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.calculator__info-power-content-bottom div, .calculator__info-profit-content-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator__info-power-content-bottom div img, .calculator__info-profit-content-bottom div img {
  margin-right: 12px;
}
.calculator__info-power-content-bottom div span, .calculator__info-profit-content-bottom div span {
  font-size: 18px;
  font-weight: 800;
}
.calculator__info-power {
  border-bottom-right-radius: 0;
}
.calculator__info-power-selected-coin {
  position: relative;
  cursor: pointer;
}
.calculator__info-power-coins-wrapper {
  position: absolute;
  display: none;
}
.calculator__info-power-coins-wrapper.active {
  display: block;
}
.calculator__info-power-coin, .calculator__info-power-selected-coin div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.calculator__info-profit {
  position: relative;
  left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.calculator__info-profit-selected-day {
  position: relative;
  cursor: pointer;
}
.calculator__info-profit-days-wrapper {
  position: absolute;
  display: none;
}
.calculator__info-profit-days-wrapper.active {
  display: block;
}
.calculator__info-profit span {
  color: #42d559;
  font-weight: 600;
}
.calculator--no-padding {
  padding: 0;
}

@media (max-width: 960px) {
  .calculator__input-item {
    padding: 12px 16px;
  }
  .calculator__input-item--smaller-padding {
    padding: 4.5px 16px;
  }
  .calculator__text {
    width: 100%;
  }
  .calculator__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculator__info img {
    width: 33px;
    height: 33px;
  }
  .calculator__info-power, .calculator__info-profit {
    width: 340px;
    padding: 20px 24px;
  }
  .calculator__info-power {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .calculator__info-profit {
    left: 0px;
    top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
  }
}
.transactions {
  padding: 80px 0;
}
.transactions__title {
  text-align: center;
  margin-bottom: 46px;
}
.transactions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  scroll-padding-right: 16px;
  padding: 20px 16px;
  max-width: 1330px;
  overflow-x: auto;
}
.transactions__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1288px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.transactions__list li img {
  min-width: 40px;
}
.transactions__data {
  font-family: "Source Code Pro";
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
.transactions__data p {
  font-weight: 400;
  font-size: 20px;
}
.transactions__data p span {
  font-weight: 600;
  font-size: 20px;
}
.transactions__data--small {
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.transactions__type {
  font-weight: 700;
  color: #42d559;
  min-width: 118px;
  text-align: end;
  font-size: 20px;
}
.transactions__type.withdrawal {
  color: #f0ab43;
}
.transactions--no-padding {
  padding: 0;
}

@media (max-width: 480px) {
  .transactions__list {
    padding: 28px 35px;
  }
}
@media (min-width: 1580px) {
  .transactions {
    display: grid;
    place-items: center;
  }
}
.footer {
  padding: 24px 0;
  font-size: 16px;
  text-align: center;
}
.footer span {
  white-space: nowrap;
  color: #6f6f6f;
}
.footer__title {
  font-size: 20px;
  font-weight: 900;
  margin-right: 24px;
}
.footer--support {
  margin-top: 269px;
}

@media (max-width: 960px) {
  .footer,
  .footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }
  .footer__title {
    margin: 0;
  }
  .footer--large {
    margin-top: 0px;
  }
}
.contact-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.contact-cards__item {
  padding: 24px 20px;
  min-width: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.contact-cards__item-text p {
  font-size: 14px;
}
.contact-cards__item-text span {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}
.contact-cards__item img {
  width: 64px;
  height: 64px;
}
.contact-cards__item button {
  width: 100%;
}

@media (max-width: 960px) {
  .contact-cards__item {
    min-width: 340px;
    padding: 24px;
  }
}
.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
  row-gap: 24px;
}
.faq__item {
  padding: 12px 0;
  cursor: pointer;
}
.faq__item h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.faq__item p {
  display: none;
}
.faq__item span {
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  position: relative;
}
.faq__item span::before, .faq__item span::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
}
.faq__item.active p {
  display: block;
  font-size: 20px;
  color: #bebebe;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 36px;
}
.faq__item.active span::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.authentication-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 812px;
  max-width: 416px;
  margin: 140px auto 80px auto;
  padding: 36px 24px;
}
.authentication-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
}
.authentication-block__top span {
  font-weight: 900;
  font-size: 20px;
}
.authentication-block__top-text h4 {
  margin-bottom: 12px;
  font-weight: 800;
}
.authentication-block__top-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.authentication-block__top-input-box input {
  border: none;
}
.authentication-block__top-input-box img {
  cursor: pointer;
}
.authentication-block__top-input p {
  margin-bottom: 12px;
}
.authentication-block__top-input input {
  background-color: #151515;
  width: 100%;
}
.authentication-block__top-input img {
  margin-right: 12px;
}
.authentication-block__top-input a {
  color: #6f6f6f;
  text-decoration: underline;
}
.authentication-block__top-btns {
  text-align: center;
}
.authentication-block__top-btns button {
  width: 100%;
  margin-bottom: 12px;
}
.authentication-block__top-btns a {
  font-size: 20px;
  font-weight: 600;
}
.authentication-block__bottom {
  text-align: center;
}
.authentication-block__bottom span {
  color: #6f6f6f;
}

.email-verification {
  padding: 16px 24px !important;
  background-color: #5b5b5b;
  border-radius: 12px;
}
.email-verification p {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.email-verification a {
  text-decoration: underline;
  font-weight: 700;
}

@media (max-width: 760px) {
  .email-verification p {
    display: block;
  }
}
.user-plan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 24px;
}
.user-plan__item {
  padding: 20px 24px;
  min-width: 100%;
}
.user-plan__item label {
  color: #6f6f6f;
}
.user-plan__item span {
  font-weight: 400;
}
.user-plan__item img {
  width: 60px;
  height: auto;
  padding: 12px;
}

@media (max-width: 1280px) {
  .user-plan {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .user-plan {
    grid-template-columns: 1fr;
  }
}
.coins-illustration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 24px;
}
.coins-illustration__item {
  font-size: 1rem;
  padding: 1.5em 1.375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5em;
  min-width: 100%;
}
.coins-illustration__item.inactive p,
.coins-illustration__item.inactive span {
  color: #6f6f6f;
}
.coins-illustration__item.inactive .coins-illustration__graph {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.coins-illustration__item button {
  width: 48%;
}
.coins-illustration__item input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 100px;
  background: #2c2c2c;
  height: 9px;
}
.coins-illustration__item input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: #2453cc;
  border-radius: 50%;
}
.coins-illustration__top img {
  width: 3.4375em;
  height: auto;
  margin-right: 1em;
}
.coins-illustration__top-info p {
  color: #a5adcf !important;
  font-size: 1em;
}
.coins-illustration__top-info span {
  font-weight: 700;
  font-size: 1.5625em;
}
.coins-illustration__top-crypto-symbol {
  -ms-flex-item-align: start;
      align-self: start;
  font-size: 400;
  color: #5d6588 !important;
  font-size: 1em;
}
.coins-illustration__range {
  font-family: "Source Code Pro";
  font-size: 2.25em;
  font-weight: 600;
  width: 100%;
}
.coins-illustration__graph {
  padding-bottom: 1.5em;
  border-bottom: 1px dashed #404047;
}
.coins-illustration__graph img {
  width: 15.375em;
  height: 3.75em;
}
.coins-illustration__graph p {
  font-weight: 800;
  color: #42d559;
  font-size: 1em;
  min-width: 104px;
}

@media (max-width: 1440px) {
  .coins-illustration {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 870px) {
  .coins-illustration {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .coins-illustration__item {
    font-size: 0.8rem;
  }
}
.bonus-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 24px;
}
.bonus-cards__item {
  padding: 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  width: clamp(250px, 100%, 636px);
}
.bonus-cards__item p {
  font-size: 20px;
}
.bonus-cards__item span {
  font-weight: 400;
  color: #bebebe;
  font-size: 20px;
}
.bonus-cards__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}
.bonus-cards__item-bottom {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.bonus-cards__item-bottom input {
  height: 48px;
}
.bonus-cards__item-bottom button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bonus-cards__item-bottom button img {
  margin-left: 8px;
}
.bonus-cards--light-text p {
  color: #bebebe;
}

@media (max-width: 1440px) {
  .bonus-cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 760px) {
  .bonus-cards__item-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 12px;
    place-items: center;
  }
  .bonus-cards__item-bottom input,
  .bonus-cards__item-bottom button {
    width: 100%;
  }
}
.bounty-cards__title {
  margin-bottom: 36px;
  text-align: center;
}
.bounty-cards__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 24px;
}
.bounty-cards__item {
  padding: 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  width: clamp(250px, 100%, 306px);
}
.bounty-cards__item span {
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
  background-color: #2453cc;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
}
.bounty-cards__item p {
  font-size: 20px;
}

.bounty-rules__title {
  margin-bottom: 36px;
  text-align: center;
}
.bounty-rules__content li,
.bounty-rules__content p {
  color: #a7a7a7;
  font-size: 20px;
  font-weight: 400;
}
.bounty-rules__content li {
  list-style-position: inside;
}

@media (max-width: 1440px) {
  .bounty-cards__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .bounty-cards__content {
    grid-template-columns: 1fr;
  }
}
.terms h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 24px;
}
.terms__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.terms__item-title {
  margin-bottom: 12px;
}
.terms__item p {
  font-size: 14px;
  border-bottom: 1px dashed rgba(167, 167, 167, 0.3);
  padding-bottom: 24px;
  line-height: 24px;
}
.terms__item:last-child p {
  border-bottom: none;
}

/* || UTILITY CLASSES */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  border: 1px solid #3d3d3d;
  border-radius: 12px;
  background-color: #1b1b1b;
}
.box--exclude-radius {
  border: 1px solid #3d3d3d;
  background-color: #1b1b1b;
}
.box--bigger-radius {
  border-radius: 20px;
}
.box--input-background {
  background-color: #151515;
  padding: 12px;
}
.box--black-background {
  background-color: #212121;
}

.nowrap {
  white-space: nowrap;
}

.cursor {
  cursor: pointer;
}

/* || MAIN CLASSES */
body {
  background-image: url("../assets/img/Waves-bg-1.svg");
  background-position: top center;
}
body.main {
  background-image: url("../assets/img/Waves-bg-1.svg"), url("../assets/img/Waves-bg-2.svg"), url("../assets/img/Waves-bg-3.svg");
  background-position: top center, bottom 17% center, bottom center;
}
body.about {
  background-image: url("../assets/img/Waves-bg-2.svg");
}

.container {
  width: 90vw;
  margin: 0 auto;
}
.container--full-height {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  margin-top: 80px;
}
main.user-page {
  margin: 116px 0 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
}

@media (max-width: 480px) {
  main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }
  main section:first-child {
    padding-top: 0;
  }
  .mobile-section {
    padding: 24px 0;
  }
}/*# sourceMappingURL=main.css.map */