@import "_variables.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

:-webkit-any(article, aside, nav, section) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }
}

body {
  font-family: "Noto Sans";
  background-color: #000;
  background-repeat: no-repeat;
  height: 5000px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  color: $gray;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

p {
  font-weight: 500;
  color: $gray;
  font-size: 16px;
}
