// COLORS
$gray: #6f6f6f;
$light-gray: #bebebe;
$email-verification-bg-color: #5b5b5b;
$white: #fff;
$black: #3d3d3d;
$blue: #2453cc;
$dark-blue: #4831d4;
$dark: #1b1b1b;
$body-background-color: #090909;
$green: #42d559;
$orange: #f0ab43;
$btn-hover-color: #1c419f;
// BORDERS
$border: 1px solid $black;
$border-radius: 12px;
$border-radius-bigger: 20px;
$btn-border-radius: 8px;
// PADDING
$padding: 8px 16px;
$btn-padding: 12px 20px;
// TRANSITION
$transition: all 0.3s ease 0s;
