// COLORS
$gray: #6f6f6f;
$white: #fff;
$black: #3d3d3d;
$blue: #2453cc;
$dark: #1b1b1b;
$green: #42d559;
$orange: #f0ab43;
// BORDERS
$border: 1px solid $black;
$border-radius: 12px;
$border-radius-bigger: 20px;
$btn-border-radius: 8px;
// PADDING
$padding: 8px 16px;
$btn-padding: 12px 20px;
// TRANSITION
$transition: all 0.3s ease 0s;
