@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans:wght@400;500;600;700;900&family=Source+Code+Pro:wght@400;600&display=swap");

@import "_variables.scss";
@import "_normalize.scss";

@import "components/all";

/* || UTILITY CLASSES */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  border: $border;
  border-radius: $border-radius;
  background-color: $dark;

  &--exclude-radius {
    border: $border;
    background-color: $dark;
  }

  &--bigger-radius {
    border-radius: $border-radius-bigger;
  }

  &--input-background {
    background-color: $input-background-color;
    padding: 12px;
  }

  &--black-background {
    background-color: #212121;
  }
}

.nowrap {
  white-space: nowrap;
}

.cursor {
  cursor: pointer;
}

/* || MAIN CLASSES */

body {
  background-image: url("../assets/img/Waves-bg-1.svg");
  background-size: contain;

  &.main {
    background-image: url("../assets/img/Waves-bg-1.svg"),
      url("../assets/img/Waves-bg-2.svg"), url("../assets/img/Waves-bg-3.svg");
    background-position: top center, bottom left, bottom right;
  }

  &.about {
    background-image: url("../assets/img/Waves-bg-2.svg");
  }
}

.container {
  width: 85vw;
  margin: 0 auto;

  &--full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

main {
  margin-top: 80px;

  &.user-page {
    margin: 116px 0 36px 0;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
}

@media (max-width: 480px) {
  main {
    display: flex !important;
    flex-direction: column;
    row-gap: 16px;

    section:first-child {
      padding-top: 0;
    }
  }
  .mobile-section {
    padding: 24px 0;
  }
}
