@import "../_variables.scss";

.calculator {
  padding: 80px 0;

  &__input-item {
    padding: 16px 20px;
    width: 100%;

    &--smaller-padding {
      padding: 9.5px 20px;
    }
  }

  &__text {
    text-align: center;
    margin: 0 auto 46px auto;
    width: 45vw;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__info {
    display: flex;
    align-items: end;
    justify-content: center;

    img {
      max-width: 40px;
      max-height: 40px;
    }

    label {
      display: block;
      margin-bottom: 4px;
      font-weight: 400;
    }

    li {
      cursor: pointer;
      margin-bottom: 5px;
      &:hover {
        background-color: $btn-hover-color;
      }
    }

    p {
      color: #fff;
      font-weight: 600;
    }

    input {
      font-weight: 600;
    }

    &-power,
    &-profit {
      border-radius: 12px;
      width: 406px;
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      &-title {
        font-size: 20px;
        text-align: center;
      }

      &-content {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        &-body {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
        }

        &-bottom {
          display: flex;
          flex-direction: column;
          row-gap: 12px;

          div {
            display: flex;
            align-items: center;

            img {
              margin-right: 12px;
            }

            span {
              font-size: 18px;
              font-weight: 800;
            }
          }
        }
      }
    }

    &-power {
      border-bottom-right-radius: 0;

      &-selected-coin {
        position: relative;
        cursor: pointer;
      }

      &-coins-wrapper {
        position: absolute;
        display: none;

        &.active {
          display: block;
        }
      }

      &-coin,
      &-selected-coin div {
        display: flex;
        align-items: center;
        column-gap: 8px;
      }
    }

    &-profit {
      position: relative;
      left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &-selected-day {
        position: relative;
        cursor: pointer;
      }

      &-days-wrapper {
        position: absolute;
        display: none;

        &.active {
          display: block;
        }
      }

      &-selected-coin {
        text-transform: uppercase;
        height: 40px;
        img {
          margin-left: 12px;
        }
      }

      span {
        color: $green;
        font-weight: 600;
      }
    }
  }

  &--no-padding {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .calculator {
    &__input-item {
      padding: 12px 16px;

      &--smaller-padding {
        padding: 4.5px 16px;
      }
    }

    &__text {
      width: 100%;
    }
    &__info {
      flex-direction: column;
      align-items: center;

      img {
        width: 33px;
        height: 33px;
      }

      &-power,
      &-profit {
        width: 340px;
        padding: 20px 24px;
      }

      &-power {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-profit {
        left: 0px;
        top: -1px;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
      }
    }
  }
}
