@import "../variables";

.coins-illustration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 24px;

  &__item {
    font-size: 1rem;
    padding: 1.5em 1.375em;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    max-width: 416px;

    &.inactive {
      p,
      span {
        color: $gray;
      }

      .coins-illustration__graph {
        filter: grayscale(100%);
      }
    }

    button {
      width: 48%;
    }

    input {
      appearance: none;
      cursor: pointer;
      border-radius: 100px;
      background: #2c2c2c;
      height: 9px;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background: $blue;
        border-radius: 50%;
      }
    }
  }

  &__top {
    img {
      width: 3.4375em;
      height: auto;
      margin-right: 1em;
    }

    &-info {
      p {
        color: $crypto-name-color !important;
        font-size: 1em;
      }

      span {
        font-weight: 700;
        font-size: 1.5625em;
      }
    }

    &-crypto-symbol {
      align-self: start;
      font-size: 400;
      color: $crypto-short-name-color !important;
      font-size: 1em;
    }
  }

  &__range {
    font-family: "Source Code Pro";
    font-size: 2.25em;
    font-weight: 600;
    width: 100%;
  }

  &__graph {
    padding-bottom: 1.5em;
    img {
      width: 15.375em;
      height: 3.75em;
    }

    p {
      font-weight: 800;
      color: $green;
      font-size: 1em;
      min-width: 104px;
    }

    border-bottom: 1px dashed #404047;
  }
}

@media (max-width: 1440px) {
  .coins-illustration {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 870px) {
  .coins-illustration {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .coins-illustration {
    &__item {
      font-size: 0.8rem;
    }
  }
}
