@import "../variables";

.features {
  padding: 80px 0;
  column-gap: 73px;

  &__illustration {
    position: relative;
    font-size: 1rem;
    min-width: 35.375em;
    height: 33em;

    &-background,
    &-trader,
    &-crypto {
      position: absolute;
    }

    &-sm-ellipse {
      left: 6.0625em;
      width: 24.0625em;
      height: 24.0625em;
    }

    &-lg-ellipse {
      left: 1.5625em;
      top: 2.9375em;
      width: 29em;
      height: 29em;
    }

    &-globus {
      left: 3.0625em;
      top: 1.1875em;
      width: 31.8125em;
      height: 31.8125em;
    }

    &-crypto {
      &-tether,
      &-ripple,
      &-dollar {
        width: 2.6875em;
        height: 2.6875em;
      }
      &-bitcoin {
        left: 27em;
        top: 7em;
        width: 3.75em;
        height: 3.75em;
      }

      &-tether {
        left: 22.375em;
        top: 27.1875em;
      }

      &-ripple {
        left: 20.3125em;
        top: 1.875em;
      }

      &-dollar {
        left: 2.75em;
        top: 7.6875em;
      }

      &-ethereum {
        top: 23em;
        width: 5.125em;
        height: 5.125em;
      }
    }

    &-trader {
      padding: 1.5em;
      display: flex;

      &-countries {
        top: 2.625em;
        left: 4.8125em;
        img {
          width: 1.875em;
          height: 1.875em;
        }
      }

      &-location {
        min-width: 13.1875em;
        top: 14.3125em;
        left: 23.5em;
        img {
          width: 2em;
          height: 2em;
        }
      }

      &-certification {
        top: 19.1875em;
        left: 2.25em;
        img {
          width: 3.5625em;
          height: 3.875em;
        }
      }

      img {
        margin-right: 1em;
      }

      span {
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 0.25em;
        color: $blue;
      }

      p {
        font-size: 1.125em;
      }
    }
  }

  &__content {
    &-text {
      margin-bottom: 46px;
    }
    &-title {
      margin-bottom: 24px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      &-item {
        display: flex;
        align-items: center;
        column-gap: 32px;

        img {
          padding: 34px;
        }

        h4 {
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .features {
    flex-direction: column;
    row-gap: 24px;

    &__content {
      &-text {
        text-align: center;
      }

      &-list-item {
        column-gap: 16px;
        align-items: start;

        img {
          padding: 17px;
        }
      }

      h4 {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 720px) {
  .features__illustration {
    font-size: 0.6rem;
  }
}
