@import "../variables";

.footer {
  padding: 24px 0;
  font-size: 16px;
  text-align: center;

  span {
    white-space: nowrap;
    color: $gray;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    margin-right: 24px;
  }

  &--support {
    margin-top: 269px;
  }
}

@media (max-width: 960px) {
  .footer,
  .footer div {
    flex-direction: column;
    row-gap: 24px;
  }

  .footer {
    &__title {
      margin: 0;
    }
    &--large {
      margin-top: 0px;
    }
  }
}
