@import "../variables";

.header {
  padding: 20px 16px;

  &__title {
    font-weight: 900;
  }

  &__burger {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 57vw;
    ul {
      border: $border;
      border-radius: 16px;
      padding: $padding;
      min-width: 384px;

      li {
        color: $gray;
        font-weight: 500;

        &.active {
          color: $white;
        }
      }
    }
  }

  &__authentication-btns {
    a {
      &:first-child {
        margin-right: 24px;
      }
    }
  }
}

@media (max-width: 960px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    &__burger {
      display: block;
      width: 24px;
      height: 21px;
      position: relative;

      &.active {
        span {
          transform: scale(0);
        }

        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }

      span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: $border-radius-bigger;
        top: 9.5px;
        transition: $transition;
      }

      &::before,
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: $border-radius-bigger;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    &__nav {
      position: fixed;
      top: 0;
      right: -100%;
      min-width: 300px;
      height: 100%;
      background-color: $dark;
      padding: 70px 0 0 48px;
      transition: $transition;
      flex-direction: column;
      justify-content: start;
      row-gap: 48px;

      &-btns {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-self: start;
      }

      &.active {
        right: 0;
      }

      ul {
        flex-direction: column;
        align-items: start;
        font-size: 24px;
        border: none;
        min-width: 100%;
        padding: 0;
      }
    }
  }
}
