@import "../variables";

.header {
  padding: 20px 16px;
  width: 85vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $body-background-color;

  &__title {
    font-weight: 900;
    font-size: 20px;
    height: 40px;
    display: flex;
    place-items: center;
  }

  &__burger {
    display: none;
  }

  &__nav {
    ul {
      border: $border;
      border-radius: 16px;
      padding: $padding;
      min-width: 579px;

      li {
        a {
          color: $gray;
          font-weight: 500;

          &:hover {
            color: #fff;
          }

          &.active {
            color: $white;
          }
        }
      }
    }
  }
}

@media (max-width: 1078px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 12.5px 26px;
    width: 100vw;
    left: 0;

    &__burger {
      display: block;
      width: 24px;
      height: 21px;
      position: relative;
      cursor: pointer;

      &.active {
        span {
          transform: scale(0);
        }

        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }

      span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: $border-radius-bigger;
        top: 9px;
        transition: $transition;
      }

      &::before,
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: $border-radius-bigger;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    &__nav {
      position: fixed;
      top: 0;
      right: -100%;
      min-width: 300px;
      height: 100%;
      background-color: $body-background-color;
      padding: 70px 0 0 48px;
      transition: $transition;
      flex-direction: column;
      justify-content: start;
      row-gap: 48px;

      &.active {
        right: 0;
      }

      ul {
        flex-direction: column;
        align-items: start;
        font-size: 24px;
        border: none;
        min-width: 100%;
        padding: 0;
      }
    }

    &__authentication-btns {
      position: fixed;
      right: -100%;
      top: 320px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      align-self: start;
      transition: $transition;

      &.active {
        right: 160px;
      }
    }
  }
}

@media (max-width: 480px) {
  // .header {
  //   padding: 12.5px 0;
  //   width: 95vw;
  // }
}
