@import "../variables";

.plans {
  &__text {
    padding-top: 80px;
    text-align: center;
    margin: 0 auto 46px auto;
    width: 40vw;
  }

  &__descr {
    margin-bottom: 24px;
  }
}

.plans-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  &__item {
    padding: 24px;
    text-align: start;
    max-width: 400px;

    &-price {
      color: $blue;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      margin-bottom: 12px;

      p {
        font-weight: 400;
        font-size: 14px;
      }

      span {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .plans-list {
    grid-template-columns: 1fr 1fr;
    gap: 24px 180px;
  }
}

@media (max-width: 960px) {
  .plans {
    &__text {
      width: 100%;
    }
    &-list {
      grid-template-columns: minmax(340px, 400px);
      justify-content: center;
    }
  }
}
