@import "../variables";

.statistics {
  text-align: center;
  &__title {
    margin-bottom: 46px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    &-item {
      width: minmax(172px, 220px);
      padding: 16px 36px;

      h3 {
        font-weight: 800;
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
      }
    }

    &-dashed-line {
      content: "";
      border: 2px dashed $black;
      position: relative;
      top: -50px;
      z-index: -1;
    }
  }
}

@media (max-width: 1280px) {
  .statistics__title {
    font-size: 32px;
  }
}

@media (max-width: 960px) {
  .statistics__list {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 24px 14px;

    &-item {
      padding: 16px;
    }

    &-dashed-line {
      display: none;
    }
  }
}
