@import "../variables";

.terms {
  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &__item {
    &-title {
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      border-bottom: 1px dashed $bounty-rules-text-color;
      padding-bottom: 24px;
      line-height: 24px;
    }

    &:last-child {
      p {
        border-bottom: none;
      }
    }
  }
}
