@import "../variables";

.transactions {
  &__title {
    display: grid;
    place-items: center;
    margin-bottom: 46px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    overflow: auto;
    scroll-padding-right: 16px;
    padding: 20px 16px;
    li {
      display: flex;
      align-items: center;
      column-gap: 7px;

      img {
        min-width: 40px;
      }
    }
  }

  &__data {
    font-family: "Source Code Pro";
    min-width: 1107px;

    p {
      font-weight: 400;

      span {
        font-weight: 600;
      }
    }
  }

  &__type {
    font-weight: 700;
    color: $green;
    min-width: 118px;
    text-align: end;

    &.withdrawal {
      color: $orange;
    }
  }
}
