@import "../variables";

.transactions {
  &__title {
    display: grid;
    place-items: center;
    margin-bottom: 46px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 16px;
    li {
      display: flex;
      align-items: center;
      column-gap: 48px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }

      p {
        font-weight: 400;

        span {
          font-weight: 600;
        }
      }
    }

    &-type {
      font-weight: 700;
      color: $green;
      min-width: 117px;
      text-align: end;

      &.withdrawal {
        color: $orange;
      }
    }
  }
}
