@import "../variables";

.transactions {
  padding: 80px 0;
  &__title {
    display: grid;
    place-items: center;
    margin-bottom: 46px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    scroll-padding-right: 16px;
    padding: 20px 16px;
    max-width: 1330px;
    overflow-x: auto;

    li {
      display: flex;
      align-items: center;
      min-width: 1288px;
      column-gap: 20px;
      img {
        min-width: 40px;
        // margin-right: 20px;
      }
    }
  }

  &__data {
    font-family: "Source Code Pro";
    column-gap: 48px;

    p {
      font-weight: 400;
      font-size: 20px;

      span {
        font-weight: 600;
        font-size: 20px;
      }
    }

    &--small {
      column-gap: 24px;
    }
  }

  &__type {
    font-weight: 700;
    color: $green;
    min-width: 118px;
    text-align: end;
    font-size: 20px;

    &.withdrawal {
      color: $orange;
    }
  }

  &--no-padding {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .transactions__list {
    padding: 28px 35px;
  }
}

@media (min-width: 1580px) {
  .transactions {
    display: grid;
    place-items: center;
  }
}
