@import "../variables";

.user-plan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 24px;

  &__item {
    padding: 20px 24px;
    min-width: 100%;

    label {
      color: $gray;
    }

    span {
      font-weight: 400;
    }

    img {
      width: 60px;
      height: auto;
      padding: 12px;
    }
  }
}

@media (max-width: 1280px) {
  .user-plan {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 760px) {
  .user-plan {
    grid-template-columns: 1fr;
  }
}
